{% extends "caristock/base.html" %}
{% load i18n %}
{% load static %}
{% load caristock %}
{% block hero %}
  <section class="hero is-primary">
    <div class="hero-body">
      <p class="title">{% translate "List Beneficiaries" %}</p>
      <p class="subtitle">{% translate "View all existing beneficiaries" %}</p>
    </div>
  </section>
{% endblock hero %}
{% block main %}
  <!-- Search Box -->
  <section class="section">
    <div class="container">
      {% if next %}
        <h2 class="title">{% translate "Select Beneficiary" %}</h2>
      {% endif %}
      <form method="get">
        <input type="hidden" name="n" value="{{ next }}" />
        <p class="label">{% translate "Search for existing beneficiaries" %}</p>
        {% translate "Beneficiary name..." as placeholder %}
        {% include "caristock/blocks/search.html" with placeholder=placeholder name="q" value=query %}
      </form>
    </div>
  </section>
  <!-- Search Results -->
  {% if search_results %}
    <section class="section">
      <div class="container">
        <h2 class="title is-4">{% translate "Search Results" %}</h2>
        {% for beneficiary in search_results.beneficiaries %}
          <div class="block media">
            <div class="media-left">
              {% if beneficiary.photo %}
                <figure class="image is-128x128">
                  <img src="/media/{{ beneficiary.photo }}" alt="{{ beneficiary.name }}" />
                </figure>
              {% else %}
                <figure class="image is-128x128">
                  <img src="{% static 'images/default-photo.png' %}"
                    alt=""
                    width="128"
                    height="128",
                    class="image-fit>
                  </figure>
                {% endif %}
              </div>
              <div class="media-content">
                <p class="title is-4">{{ beneficiary.name }}</p>
                <p class="subtitle is-6">{{ beneficiary.email }}</p>
                <p>{{ beneficiary.address_1 }}</p>
                <p>{{ beneficiary.address_2 }}</p>
                <p class="level is-mobile">
                  {% url 'beneficiary-show' beneficiary.id as beneficiary_link %}
                  {% if next %}
                    {% translate "Select Beneficiary" as label %}
                    {% include "caristock/blocks/button.html" with label=label link=beneficiary_link|qkey:"n"|qval:next icon="chevrons-right" %}
                  {% else %}
                    {% translate "View Beneficiary" as label %}
                    {% include "caristock/blocks/button.html" with label=label link=beneficiary_link %}
                  {% endif %}
                </p>
              </div>
            </div>
            <hr />
          {% endfor %}
        </div>
      </section>
    {% endif %}
  {% endblock main %}
