<!-- prettier-ignore -->
{% extends "caristock/base.html" %}
{% load i18n %}
{% load static %}

{% block main %}

<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">Caristock</p>
    <p class="subtitle">
      {% translate "Stock management for donations and pickups" %}
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title">{% translate "Stock Overview" %}</h2>
    <ul class="block">
      <li>{% translate "Highest Count" %}: {{ overview_highest_count }}</li>
      <li>{% translate "Lowest Count" %}>: {{ overview_lowest_count }}</li>
    </ul>
    <p class="level is-mobile">
      <!-- prettier-ignore -->
      {% url 'donor-select' as donor_select_link %}
      {% url 'donation-create' as donor_create_link %}
      {% translate 'Create New Donation' as label %}
      {% include 'caristock/blocks/button.html' with label=label link=donor_select_link|add:'?n='|add:donor_create_link icon='plus' class='is-link' %}
    </p>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title">{% translate "Incoming Donations" %}</h2>
    <ul>
      {% for donation in incoming_donations %}
      <li>{{ donation.donor.name }}: {{ donation.created }}</li>
      {% empty %}
      <li>{% translate "No donations yet" %}</li>
      {% endfor %}
    </ul>
  </div>
</section>

{% endblock %}
